<html>

<head>

    <title>Калькулятор</title>

    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/calculator.js"></script>
    
</head>

<body onload="init()">

    <div>

        <input type="text" id="digA" />

        <input type="text" id="digB" />

        <button class="action" id="plus">+</button>

        <button class="action" id="minus">-</button>

        <button class="action" id="mult">*</button>

        <button class="action" id="div">/</button><br />

        <div>Результат: <span id="result"></span></div>

    </div>

</body>

</html>